*.pyc
*.csv
*init*
*.swp
*.root
/ml_photons/python/output/
/ml_photons/python/condor_logfiles/
/ml_photons/python/maked.sh
/ml_photons/python/Call*
/ml_photons/python/Run*
/ml_photons/python/RUN*
/ml_photons/python/*invert*
/ml_photons/python/SignalRunFiles
/ml_photons/python/QCDFiles
/ml_photons/python/Prod_ml_photons_qcd.py
/ml_photons/python/QCD/
/ml_photons/python/test/
ml_photons/python/Signal/
ml_photons/python/ParticleGun/
ml_photons/python/Data/
ml_photons/python/GJets/
